* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  height: 10%;
  border-bottom: 2px solid rgb(51, 51, 255);
  display: grid;
  place-items: center;
}

.section{
  width: 90%;
  height: 90%;
  display: flex;
}

.article.form{
  width: 30%;
  height: 100%;
}

.article.list{
  width: 70%;
  height: 100%;
  display: flex;
}

.tasklist{
  width: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: .2em;
}

.task{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .4em .4em;
  border: 1px solid rgb(51, 51, 255);
  flex-wrap: wrap;
}

.taskprop {
  width: 70%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  word-wrap: break-word;
}


.text {
  text-align: left;
}

img {
  width: 20px;
  height: 20px;
}

.taskform {
  margin-top: 2em;
  width: 100%;
  border: 2px solid rgb(51, 51, 255);
  display: flex;
  flex-direction: column;
  gap: .2em;
  padding: .5em;
}

.container {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
}

.containerbuttons {
  width: 80%;
  height: 40px;
  margin: auto;
  justify-content: space-between;
  display: flex;
}

.containerbuttons>.button{
  width: 30%;
}

textarea {
  width: 90%;
  border: 2px solid rgb(51, 51, 255);
  height: 5em;
  padding: .2em;
  resize: none;
  border-radius: .2em;
  font-weight: 400;
  font-size: medium;
  color: #213547;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  outline: none;
}

input {
  width: 90%;
  border-radius: .2em;
  padding: .2em;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: x-large;
  border: 2px solid rgb(51, 51, 255);
  background: 0;
  outline: 0;
}

.button {
  width: 50%;
  height: 100%;
  max-height: 5em;
  border-radius: 6px;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.295)f;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(51, 51, 255);
}